/* Color Scheme: http://colorschemedesigner.com/#0h41TtI--tIMP */
body {
	background-color:#aaa;
	color:#333;
	font-family:'Cabin', sans-serif;
	font-size:1.2em;
}

.thumb {
	margin:5px;
	border-radius:10px;
	box-shadow:2px 2px 2px #333;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

#header {
	color:#333;
	width:900px;
	margin:auto;
	padding-right:10px;

	font-size:1.5em;
	font-family:'Amaranth', sans-serif;
	border-bottom:#aaa;
	text-align:right;
}

#header .fancy {
}

#viewer {
	width:885px;
	min-height:400px;
	margin:auto;
	margin-bottom:10px;

	border-radius:10px;

	border:5px solid #333;
	box-shadow:5px 5px 0px #000;

	cursor:arrow;
}

.viewer_content {
	margin:10px;
	color:#333;
}

.viewer_content .title {
	font-family:'Amaranth', sans-serif;
	font-weight:bold;
	font-size:1.5em;
	text-align:right;
	border-bottom:3px solid #333;
}

.viewer_content .description {
	font-size:0.9em;
	/*Keep floating divs inside block*/
	overflow:hidden;
}

#content {
	width:900px;
	margin:auto;
	padding:0px;
	padding-left:5px;
}

.column {
	width:300px;
	height:100%;
	float:left;
}

.project {
	height:200px;
	padding:5px;
	margin:5px;
	margin-left:0px;
	background-color:#fff;
	overflow:hidden;

	border:5px solid #333;
	box-shadow:5px 5px 0px #000;

	cursor:pointer;
}

.top.left {
	border-top-left-radius:	10px;
	background-color:#ff9d12;
}

.top.center {
	background-color:#2397ff;
}

.top.right {
	border-top-right-radius: 10px;
	background-color:#12ffa6;
}

.middle.left {
	background-color:#c48a38;
}

.middle.center {
	background-color:#4286c4;
}

.middle.right {
	background-color:#38c48f;
}

.bottom.left {
	border-bottom-left-radius: 10px;
	background-color:#ffc36e;
}

.bottom.center {
	background-color:#79bfff;
}

.bottom.right {
	border-bottom-right-radius: 10px;
	background-color:#6effc8;
}

.top {
}

.center {
	
}

.bottom {
}

.left {
}

.middle {
	
}

.right {
}